.hero {
    position: relative;
    /* min-height: 176px; */
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--inputs);
}

.bgImage {
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.title {
    font-size: 48px;
    /* font-family: var(--font-family); */
    font-weight: 600;
    line-height: 67%;
    color: var(--inputs);
    margin-bottom: 16px;
}

.subtitle {
    font-size: 24px;
    /* font-family: var(--font-family); */
    font-weight: 600;
    line-height: 133%;
    color: var(--inputs);
    margin-bottom: 40px;
}

.button {
    border-radius: 200px;
    padding-block: 16px;
    padding-inline: 60px;
    background-color: var(--grey-green);
    border: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);

    /* backface-visibility: hidden; */
    /* transform: translateZ(0); */
    /* transition: transform 0.3s ease-in-out; */
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
        /* transform: scale(1.05); */
        background-color: var(--green-hover);
    }

}